

<!-- <a routerLink = "/login">Login</a> -->
<!-- <mat-slider min="1" max="100" step="1" value="1"></mat-slider> -->

<!-- <app-inventory-request-page></app-inventory-request-page> -->
<!-- <app-inventory-maintenance></app-inventory-maintenance> -->
<!-- <app-products></app-products>
<app-request-inve -->
<!-- <app-cart></app-cart>
<app-header></app-header>
<app-inventory-request-history-page></app-inventory-request-history-page>
<app-request-approval-page></app-request-approval-page>
<app-inventory-maintenance></app-inventory-maintenance> -->

<app-header></app-header>
<router-outlet></router-outlet>