<form action='' [formGroup]="requestForm">
    <div class="card" style="width: 18rem;">
        <div class="form-group">
            <div class="card-body">
                <img src='{{imgUrl}}' class="card-title" >
                <h5 >Type : {{type}} </h5>
                <h5 >Name : {{name}}</h5>
                <h5 >Price : &#x20B9; {{price}}</h5>
                <h5 >available : {{available}}</h5>

            </div>
        </div>

        <div class="card-footer" >
            <!-- <button class="btn btn-primary" >Add to cart</button>
            &nbsp;
            <!-- <button class="btn btn-outline-primary">&#x20B9; Price</button> -->
           <!-- <button class="btn btn-warning" >Remove item</button>  --> 

            Remarks:<br />
            <textarea name='Remarks' id='Remarks' placeholder="You can enter your remarks here." formControlName='remarks' ></textarea><br />
            <input type='hidden' name='articleid' id='articleid' />
            
            <button class="btn btn-success" (click)="onRequestProduct(id)">Request Product</button>

        </div>
    </div>
</form>

<!-- value='<? echo $_GET["id"]; ?>' /> -->

